body {
    text-align: center;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;

    background: #221F1F;

    font-family: 'Open Sans', 'Inter', sans-serif;
}

h1 {
    font-size: 64px;
    color: #F5F5F1;
    margin-bottom: 5px;
}

.error_message {
    color: #F5F5F1;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

form {
    color: #F5F5F1;
}

form label {
    font-size: 32px;
}

form input[type=file] {
    font-family: 'Open Sans', 'Inter', sans-serif;

    border: none;

    font-size: 24px;
}

form input::file-selector-button {
    font-family: 'Open Sans', 'Inter', sans-serif;

    font-weight: bold;
    color: #221F1F;
    border: none;
    border-radius: 5px;

    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}


form input[type=submit] {
    font-family: 'Open Sans', 'Inter', sans-serif;

    background-color: #F5F5F1;
    border: none;
    border-radius: 5px;

    font-size: 24px;
    margin: 10px 10px 20px;
    padding: 10px;
}

figcaption {
    color: #F5F5F1;
}

figcaption .prediction {
    font-size: 32px;
    margin: 5px;
}

figcaption .confidence {
    font-size: 24px;
}

button {
    background: #F5F5F1;
    font-family: 'Open Sans', 'Inter', sans-serif;
    color: #221F1F;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

a, a:visited {
    font-size: 20px;
    color: #221F1F;
    text-decoration: none;
}

footer p {
    color: #F5F5F1;
    font-size: 16px;
}