<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <form action="/predict" method="post" enctype="multipart/form-data">
        <label for="image">Upload Image</label>
        <input id="image" name="image" type="file" accept="image/jpg, image/jpeg">
        <input type="submit" value="Upload">
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="error_message">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% endblock %}
</body>
</html>