<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/images/x-ray-icon.png">
    <title>Home</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <!--Pneumonia Detection Icon-->
    <img src="../static/images/x-ray-icon.png" alt="Chest x-ray icon" width="450px">

    <!--Upload Image Form-->
    <form action="/predict" method="post" enctype="multipart/form-data">
        <label for="image">
            Upload Chest X-Ray Image
            <br>
            <input id="image" name="image" type="file" accept="image/jpg, image/jpeg">
        </label>

        <!--Display Error Message-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error_message"><i>{{ message }}</i></p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <br>

        <!--Upload Button-->
        <input type="submit" value="Upload">
    </form>

    {% endblock %}
</body>
</html>