<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Pneumonia Detection</h1>
    {% block content %}
    {% endblock %}

    <footer>
        <p>A Flask Web Application by Ian Lin</p>
    </footer>
</body>
</html>